<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 在项目下运行：mvn clean mybatis-generator:generate -Dmybatis.generator.contexts=lotteryGeneragtor -->
    <classPathEntry location="/Users/tony/.m2/repository/mysql/mysql-connector-java/5.1.36/mysql-connector-java-5.1.36.jar" />
    <context id="lotteryGeneragtor" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" 
        				connectionURL="jdbc:mysql://dockerhost:3306/lottery?useUnicode=true&amp;characterEncoding=utf-8"
        				userId="root"
            			password="123456">
        </jdbcConnection>
        <javaModelGenerator targetPackage="example.mybatis3.domain" targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
            <property name="rootClass" value="com.github.dbutils.mybatis.extend.AbstractMyBatisEntity" />
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="example.mybatis3.mapper" targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER" targetPackage="example.mybatis3.mapper" targetProject="MAVEN">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <table tableName="bet_game_issue" domainObjectName="BetGameIssues"
        	enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false">
            <generatedKey column="ID" sqlStatement="SELECT LAST_INSERT_ID()" identity="true" />
        	<columnOverride column="GAME_ID" javaType="com.mybatis.lottery.enums.Game" />
        	<columnOverride column="IS_CURRENT" javaType="java.lang.Boolean" />
        	<columnOverride column="START_TIME" javaType="java.util.Calendar" />
        	<columnOverride column="END_TIME" javaType="java.util.Calendar" />
        	<columnOverride column="OPEN_TIME" javaType="java.util.Calendar" />
        	<columnOverride column="STATUS" javaType="com.mybatis.lottery.enums.IssueStatus" />
        </table>
    </context>
</generatorConfiguration>
